In [12]:
import pandas
df = pandas.read_csv('covid_retake.csv')

In [13]:
df.head()

,Unnamed: 0,Date,Country,New_cases,New_deaths,New_recovered,Region
0,0,2020-01-22,Afghanistan,0,0,0,Eastern Mediterranean
1,1,2020-01-22,Albania,0,0,0,Europe
2,2,2020-01-22,Algeria,0,0,0,Africa
3,3,2020-01-22,Andorra,0,0,0,Europe
4,4,2020-01-22,Angola,0,0,0,Africa

In [22]:
#1.
df2 = df[df["Region"] == "Africa"]
df2.shape

<bound method NDFrame.head of        Unnamed: 0        Date         Country  New_cases  New_deaths  \
2               2  2020-01-22         Algeria          0           0
4               4  2020-01-22          Angola          0           0
18             18  2020-01-22           Benin          0           0
22             22  2020-01-22        Botswana          0           0
26             26  2020-01-22    Burkina Faso          0           0
...           ...         ...             ...        ...         ...
35138       35138  2020-07-27            Togo          6           0
35143       35143  2020-07-27          Uganda         13           0
35152       35152  2020-07-27  Western Sahara          0           0
35154       35154  2020-07-27          Zambia         71           1
35155       35155  2020-07-27        Zimbabwe        192           2

       New_recovered  Region
2                  0  Africa
4                  0  Africa
18                 0  Africa
22                 0  Africa
26                 0  Africa
...              ...     ...
35138              8  Africa
35143              4  Africa
35152              0  Africa
35154            465  Africa
35155             24  Africa

[9024 rows x 7 columns]>

In [21]:
#2.
df3  = df[df["Country"] == "Egypt"]
df3.shape

(188, 7)

In [25]:
#3.
df4 = df[df['Region'] == "Americas"]
df4['New_cases'].corr(df4['New_recovered'])

0.687657624094652

In [26]:
#4.
df5 = df[df['Region'] == "Western Pacific"]
df4['New_cases'].corr(df4['New_deaths'])

0.7736876879143582

In [33]:
#5.Unpaired
import scipy.stats as stats
df5 = df[df['Country'] == "Sweden"]
res = stats.ttest_ind(df5['New_deaths'], df5['New_recovered'], 
                      equal_var=True)

print(res)

Ttest_indResult(statistic=10.224284271310209, pvalue=8.40345449019136e-22)